{{>partial/header}}

<div class="container mx-auto mt-4 p-4 max-w-2xl">

  {{>partial/session_messages}}

  <main class="min-w-[300px]">
    <div class="flex flex-col items-start text-start">
      {{^authenticated}}
        <h3 class="mb-2 text-black">{{i18n.page.tagline1}}</h3>
        <p class="mb-6 text-base text-gray-400 dark:text-gray-400">{{i18n.page.tagline2}}</p>
      {{/authenticated}}
    </div>

    <!-- Secret Form is loaded here -->
    <div id="app"></div>

    {{^authenticated}}
    <hr class="my-4 border-gray-200 dark:border-gray-700"/>
    <div class="flex flex-col items-center text-center my-2">
      <p class="text-md text-gray-500 dark:text-gray-400 mb-4">
        {{i18n.page.secret_hint}}
      </p>
    </div>

    {{#authentication.signup}}
      {{>partial/plans_homepage_cta}}

    {{/authentication.signup}}

    {{/authenticated}}
  </main>

</div>

{{>partial/footer}}
