@font-face {
  font-display:swap;
  font-family:Peclet;
  font-style:normal;
  font-weight:400;
  src:local(""),
  url('./fonts/Peclet/Peclet-Regular.woff2') format("woff2"),
  url('./fonts/Peclet/Peclet-Regular.woff') format("woff")
}

@font-face {
  font-display:swap;
  font-family:Peclet;
  font-style:normal;
  font-weight:500;
  src:local(""),
  url('./fonts/Peclet/Peclet-Medium.woff2') format("woff2"),
  url('./fonts/Peclet/Peclet-Medium.woff') format("woff")
}

@font-face {
  font-display:swap;
  font-family:Peclet;
  font-style:normal;
  font-weight:600;
  src:local(""),
  url('./fonts/Peclet/Peclet-Semibold.woff2') format("woff2"),
  url('./fonts/Peclet/Peclet-Semibold.woff') format("woff")
}